{% extends "layout.html" %}
{% block content %}
<style>body{background-color: #272822;}</style>
<div class="container-fluid">
    <div id="resp_msg"
         class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p id="flash_msg"></p>
    </div>
    <div class="row">
        <div id="editor" class="col-md-6">
        '''
        >>coala Anthem for all
        >>One tool to rule them all,
        >>One tool to lint them,
        >>One tool to patch them all,
        >>And in the standards bind them all.
        '''

        # Your awesome code goes here
        # Execute checking with Ctrl-M
        </div>
        <div id="bear-wrap" class="col-md-6" >
            <div id="editor_language" class="btn-group ">
                <a href="#" id="language" class="btn btn-info">Python</a>
                <a href="#"
                   data-target="#" class="btn btn-info dropdown-toggle"
                   data-toggle="dropdown">
                   <span class="caret"></span>
               </a>
                <ul class="dropdown-menu">
                    {% for lang in languages %}
                        <li>
                            <a href="#" onclick="setLang('{{lang}}')" >{{lang.capitalize()}}</a>
                        </li>
                        <li class="divider"></li>
                    {% endfor %}
                </ul>
            </div>
            <form role="form" id="bear_list" name="bear_list"></form>
        </div>
    </div>
</div>
<div id="donate" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
  <div class="modal-content">
    <div style="text-align:justify;" class="modal-body">
      <p>coala uses free software for recurrent donations.
        We support many projects and we use upstream by code mostly written in our freetime and pay servers out of our own pocket.
        <br/>Any donation is deeply appreciated and helps us focusing on even better code.
        <a data-toggle="tooltip" title="Donate via Gratipay" href="https://gratipay.com/coala/">
          <i class="fa fa-gratipay" aria-hidden="true"></i></a>
      </p>
      <hr/>
      <p>For single amount donations and sponsorship opportunities contact
        <br/><a data-toggle="tooltip" title="Lasse Schuirmann" href="mailto:lasse.schuirmann@gmail.com" class="ping_lasse">Lasse Schuirmann<span class="desktop"></span>
          <i class="fa fa-commenting"></i>
        </a>
      </p>
    </div>
  </div>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" ></script>

<script>
    var dom = function(id) {
        return document.getElementById(id);
    }
    var logo_head = document.getElementsByClassName('logo_head')[0];
    logo_head.style.cursor="pointer";
    logo_head.addEventListener('click', function(){location.href="/"});
    // Editor stuff
    var editor = ace.edit("editor"), LANGUAGE = 'python';
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setUseWrapMode(true);
    editor.setHighlightActiveLine(true);
    editor.setShowPrintMargin(false);

    var BEAR = null;
    var getBear = function() {
        var checkedBears = [];
        $('#bear_list :checked').each(function() {
          checkedBears.push($(this).val());
        });
        console.log(checkedBears);
        return checkedBears
    }
    var setLang = function(lang) {
        console.log(lang);
        LANGUAGE = lang;
        dom('language').innerHTML = lang.toUpperCase();
        var editorMode = lang ? "ace/mode/" + lang : "ace/mode/python";
        editor.getSession().setMode(editorMode);

        // Fetch bear list
        var url = "/bear/" + LANGUAGE;
        $.ajax({url: url,
                method:'GET',
                dataType:"json",
                success: function(bears) {
                    // available bears for the language
                    var options = '';

                    $('#bear_list').html('');
                    bears['bears'].forEach(function(bear) {
                        $("#bear_list").append($('<div>').attr({'class':'checkbox','style':'height:32px;'})
                                                .append($('<label>')
                                                          .append($('<input>')
                                                                   .attr({'value': bear['name'],
                                                                          'type': 'checkbox',
                                                                          'name': bear['name']}))
                                                            .append(" "+bear['name'])));
                    });
                    $.material.init();
                },
                error: function(err) {
                    console.log(err);
                }
        });
    };
    setLang('python');
    function resizeAce() {
      return $('#editor').height(0.85*$(window).height());
    };
    $(window).resize(resizeAce);
    resizeAce();
    var cells = document.getElementsByClassName('ace_gutter-cell');
    var updateAceLineNumber = function(results) {
        for(var line = 1; line<= cells.length; line++) {
          var cell = cells[line-1];
          results.forEach(function(result){
            result.affected_code.forEach(function(af_code){
              if(af_code.start.line == line){
                  cell.style.color = "yellow";
                  console.log(cell.innerHTML);
                  if(+cell.innerHTML == line) {
                    cell.innerHTML = "<i style='color:red;' class='fa fa-close'></i>" + cell.innerHTML;
                  }
                  cell.title = "Origin: "+result.origin +", Message: "+result.message +" "+ cell.title;
                  cell.addEventListener('click', function() {
                    $("#flash_msg").html("Patch: "+result.diffs);
                    $("#resp_msg").show();
                  });

              } else {
                console.log("else: ", cell.innerHTML);
                // cell.style.color = "inherit";
                // cell.innerHTML = line;
                // cell.title = "";
                // cell.removeEventListener('click', function() {
                //   $("#flash_msg").html("Patch: "+result.diffs);
                //   $("#resp_msg").show();
                // });
              }
            });
          });
        } //
    }
    editor.commands.addCommand({
        name: 'run_coala',
        bindKey: {win: 'Ctrl-M',  mac: 'Command-M'},
        exec: function(editor) {
            // send async request to server
            var url = "/code/";
            $.ajax({url: url,
                    data: {"code" : editor.getValue(), "bear":getBear().join(',')},
                    dataType:"json",
                    method:'POST',
                    success: function(data) {
                        console.log(data,typeof(data));
                        // try {
                            var results = data.results.default;
                            updateAceLineNumber(results);
                            $("#flash_msg").html(results.length + " errors found!");
                            $("#resp_msg").show();
                        // } catch (e) {
                        //     console.log(e);
                        // }

                    },
                    error: function(err) {
                        console.log(err);
                    }
            });
        },
        readOnly: true
    });
</script>

{% endblock %}
