{% extends "layout.html" %}
{% block content %}
    <nav id="header" class = "navbar navbar-default" role = "navigation">
        <div class = "navbar-header">
            <button type = "button" class = "navbar-toggle"
             data-toggle = "collapse" data-target = "#menu">
                 <span class = "sr-only">Toggle navigation</span>
                 <span class = "icon-bar"></span>
                 <span class = "icon-bar"></span>
                 <span class = "icon-bar"></span>
            </button>
        </div>
        <div class = "collapse navbar-collapse" id = "menu">
            <ul class = "nav navbar-nav">
                <li>
                  <a href="#">
                    <img onclick="scrollHome()" src="{{url_for('static',filename='img/coala.png')}}"
                        class="logo" />
                  </a>
                </li>
                <li class="hidden-sm">
                    <a href="/editor">Demo</a>
                </li>
                <li><a href="#why">About</a></li>
                <li><a href="#team">Team</a></li>
                <li>
                  <a class = "dropdown-toggle" id = "dropdownMenu1" data-toggle = "dropdown">
                          Documentation
                          <span class = "caret"></span>
                  </a>
                  <ul class="dropdown-menu" role = "menu"
                      aria-labelledby = "dropdownMenu1">
                    <li role = "presentation">
                      <a role = "menuitem" tabindex = "-1" href ="http://coala.readthedocs.org/">Core API</a>
                    </li>
                    <li role = "presentation">
                      <a role = "menuitem" tabindex = "-1" href="/bear-docs">Bears</a>
                    </li>
                  </ul>
                </li>
                <li><a target="_blank" href="http://planet.coala-analyzer.org/">Blog</a></li>
          </ul>
        </div>
    </nav>
    <div class="container-fluid">
      <div id="home" class="row" >
        <div id="coalaUse" class="carousel slide">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="main clearfix">
                <form id="nl-form" class="nl-form">
                  I want to
                  <select data-toggle="tooltip"
              data-original-title="Select category" onchange="setUser(this.value)">
                    <option value="0" selected>improve my code</option>
                    <option value="1">develop code analysis</option>
                  </select>
                  <div id="devOptions">
                      <br />and I use
                      <select data-toggle="tooltip"
                  data-original-title="Select language" onchange="setUserLang(this.value)">
                        <option value="python" selected>Python</option>
                        <option value="javascript">JavaScript</option>
                        <option value="java">Java</option>
                        <option value="cpp">C++</option>
                      </select>
                  </div><br/>
                  <div class="nl-submit-wrap">
                    <input onclick="showBearDoc()" type="button"
                           value="Show what coala can do for me" class="nl-submit"></input>
                  </div>
                </form>
              </div>
            </div>
            <div class="item bearLang">
              <div id="not_found"></div>
              <div id="can_detect_head">
                <h2 style="color:#b14943;">Can Detect</h2><span style="color:skyblue;" id="can_detect"></span>
              </div>
              <hr/>
              <div id="can_fix_head">
                <h2 style="color:#b14943;">Can Fix</h2><span style="color:skyblue;" id="can_fix"></span>
              </div>
            </div>
          </div>
        <!-- Left controls -->
        <a class="left carousel-control" href="#coalaUse" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        </div>
	       <span onmouseover="$('body','html').animate({scrollTop:600}, 800)">
	          <i class="fa fa-2x fa-angle-double-down" aria-hidden="true"></i>
        </span>
      </div>
      <div id="why" class="row">
          <div class="col-md-12">
              <div class="why-content">
                  <div class="why-content-inner">
                    <p data-sr="enter bottom move 35px over 1s">
                      coala provides a common multiplatform interface for linting and fixing all your code, regardless of the programming language you use. Its convenient user interface eliminates a lot of common tasks for the developer. coala also facilitates people entering the world of open source by providing them valuable feedback on coding standards and formatting. So, in a nutshell coala is a useful abstraction for static code analysis that is applicable to any text based language.
                    </p>
                    <p class="coala-language-wrap" data-sr="enter left move 35px over 1.5s"> We support
                      <span id="coala-language"></span><i class="typed-cursor"></i>
                    </p>
                    <iframe id="coala-video" width="560" height="315" src="https://www.youtube.com/embed/oFawYQ0EonY?list=PLwYOTlwjGsp1oYVjFuhQoT2VygPKOheI_" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
      </div>
      <div id="team" class="row" >
          <p>Join the team of 100+ contributors.</p>
          <div data-sr="enter left move 35px over 1.5s" class="team-list">
            {% for member in team[:10] %}
            <div class="team-card">
              <img class="img-rounded" src="{{member['avatar_url']}}" />
              <div class="username"><span><a href={{"https://github.com/" + member['username']}}>{{member['username']}}</a></span></div>
              <div class="commit-count"><span>
                <a href={{"https://github.com/coala-analyzer/coala/commits/master?author="+member['username']}}>
                  <b>{{member['commit_count']}}</b> commits
                </a>
              </span></div>
            </div>
            {% endfor %}
          </div> <span style="color:skyblue;font-size:19px;"><a href='#' data-toggle="modal" data-target="#members" >Show all</a></span>
          <p>Wish to see yourself above?&nbsp;<a href="https://github.com/coala-analyzer/coala"> Start contributing</a> now!</p>
      </div>
      <div id="members" class="modal fade" tabindex="-1">
        <div class="modal-dialog-cus">
        <div class="modal-content-cus">
          <div style="text-align:justify;" class="modal-body">
            {% for member in team %}
            <div class="team-card">
              <img class="img-rounded" src="{{member['avatar_url']}}" />
              <div class="username"><span><a href={{"https://github.com/" + member['username']}}>{{member['username']}}</a></span></div>
              <div class="commit-count"><span>
                <a href={{"https://github.com/coala-analyzer/coala/commits/master?author="+member['username']}}>
                  <b>{{member['commit_count']}}</b> commits
                </a>
              </span></div>
            </div>
            {% endfor %}
          </div>
        </div>
        </div>
      </div>
      <div id="donate" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
          <div style="text-align:justify;" class="modal-body">
            <p>coala uses free software for recurrent donations.
              We support many projects and we use upstream by code mostly written in our freetime and pay servers out of our own pocket.
              <br/>Any donation is deeply appreciated and helps us focusing on even better code.
              <a data-toggle="tooltip" title="Donate via Gratipay" href="https://gratipay.com/coala/">
                <i class="fa fa-gratipay" aria-hidden="true"></i></a>
            </p>
            <hr/>
            <p>For single amount donations and sponsorship opportunities contact
              <br/><a data-toggle="tooltip" title="Lasse Schuirmann" href="mailto:lasse.schuirmann@gmail.com" class="ping_lasse">Lasse Schuirmann<span class="desktop"></span>
                <i class="fa fa-commenting"></i>
              </a>
            </p>
          </div>
        </div>
        </div>
      </div>
      <footer>
          <p class="sponsor">Sponsor </p>
          <a href="http://appveyor.com/">
            <img alt="Appveyor" src="{{url_for('static', filename='img/appveyor.png')}}" />
          </a>
          <p class="partner">Partner</p>
          <a href="http://remotemeetup.com/">
            <img alt="RemoteMeetUp" class="partner_img" src="{{url_for('static', filename='img/remote_meet_up.png')}}" />
          </a><br/>
          <a class="github-button" href="https://github.com/coala-analyzer/coala" data-style="mega" data-count-href="/coala-analyzer/coala/stargazers" data-count-api="/repos/coala-analyzer/coala#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star coala-analyzer/coala on GitHub">Star</a>
          <a class="github-button" href="https://github.com/coala-analyzer/coala/issues" data-style="mega" data-count-api="/repos/coala-analyzer/coala#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue coala-analyzer/coala on GitHub">Issue</a>
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/coala-analyzer/coala" data-style="mega" data-count-href="/coala-analyzer/coala/watchers" data-count-api="/repos/coala-analyzer/coala#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch coala-analyzer/coala on GitHub">Watch</a>
          <p style="color:gray;">Made with &nbsp;<i class="fa fa-heartbeat" aria-hidden="true"></i> &nbsp;by coala-analyzer community.</p>
      </footer>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.2.0/scrollreveal.min.js"></script> -->
    <script
        src="{{url_for('static', filename='bower_components/scrollreveal/dist/scrollreveal.min.js')}}">
    </script>
    <script
        src="{{url_for('static', filename='bower_components/typed.js/dist/typed.min.js')}}">
    </script>
    <script
        src="{{url_for('static', filename='js/main.js')}}">
    </script>
    <script>
      var headEl = dom('header');
      window.addEventListener("scroll", function(){
          if(window.scrollY > 10)
              headEl.classList.add('navbar-scroll');
          else
              headEl.classList.remove('navbar-scroll');
      });
    </script>
{% endblock %}
