<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="coala-analyzer: static code analysis">
    <title>coala</title>
    <link rel='stylesheet' type='text/css'
      href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>
    <!-- <link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <link rel="stylesheet"
        href="{{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
    </link>
    <!-- Looks good with 0.5.10. Don't change the version-->
    <!-- <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css"> -->
    <!-- <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css"> -->
    <link rel="stylesheet"
        href="{{url_for('static', filename='bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css')}}">
    </link>
    <link rel="stylesheet"
        href="{{url_for('static', filename='bower_components/bootstrap-material-design/dist/css/ripples.min.css')}}">
    </link>
    <link rel="stylesheet"
        href="{{url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css')}}">
    </link>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/progress.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/default.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/component.css')}}" />
    <script "{{url_for('static', filename='js/modernizr.custom.js')}}"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
    <script
        src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}">
    </script>
    <script>
    $(window).load(function() {
        setTimeout(function(){
            $(".se-pre-con").fadeOut("slow");
            $("#wrapper").css("visibility","visible");
        },1000);
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
        $(".left").click(function(){
          $("#coalaUse").carousel(0);
          $(".left").hide();
          $("#coalaUse").carousel("pause")
        });
        $(".left").hide();
        scrollHome = function(){
          console.log('scrollHome');
          $('body, html').animate({ scrollTop: 0 }, 800);
        };
    });
    </script>
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to
        improve your experience.
      </p>
    <![endif]-->
    <progress value="0" min="0" class="multiple" id="progressBar">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
    <div class="se-pre-con"></div>
    <div id="wrapper">
        <header>
          <img onclick="scrollHome()" src="{{url_for('static',filename='img/coala.png')}}"
              class="logo_head" />
          <span class="social-header">
            <a target="_blank" href="https://twitter.com/coala_analyzer"><i class="fa fa-twitter fa-1x" aria-hidden="true"></i></a>
            <a target="_blank" href="https://github.com/coala-analyzer">
              <i class="fa fa-github fa-1x" aria-hidden="true"></i></a>
          </span>
          <a title="Support Us" class="donate" href="#"
              data-toggle="modal" data-target="#donate">
            <i class="fa fa-gratipay" aria-hidden="true"></i>
          </a>
      </header>
        {% block content %}{% endblock %}
    </div>
    <!-- <script
      src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script> -->
    <script
        src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}">
    </script>
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script> -->
      <script
          src="{{url_for('static', filename='bower_components/bootstrap-material-design/dist/js/ripples.min.js')}}">
      </script>
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
    </script> -->
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'coala-analyzer/coala'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script
        src="{{url_for('static', filename='bower_components/bootstrap-material-design/dist/js/material.min.js')}}">
    </script>
    <script
        src="{{url_for('static', filename='js/progress.js')}}">
    </script>
    <!--  Gitter chat -->
    <script type="text/javascript">
        // material stuff
        $.material.init();
    </script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
