html {
    overflow: auto;
}
body {
    background: black;
    /*top: 20px;
    left: 0px;
    bottom: 20px;
    right: -3px;*/
    overflow: hidden;
    height:100%;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}
#members {
  background: #252022 !important;
}
.team-list{
  width:100%;
  padding:5px;
  text-align: center;
}
.modal-dialog {
  width:70%;
}
.modal-content {
   background: transparent;
}
.team-card>img {
  width: 200px !important;
  height: 200px !important;
  max-width: 100%!important;
  vertical-align: middle;
  background-color: transparent;
  border: none;
}
.team-card {
  color: white;
  width: 200px;
  margin: 5px;
  display: inline-table;
}
.username {
  padding-top: 5px;
  text-align: center;
}
.commit-count {
  color:white;
  font-size: 16px;
  padding-top: 5px;
  text-align: center;
}

scrollbar {
    display: none;
}

::-webkit-scrollbar {
    /*width: 8px;*/
    display: none;

}
/*
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(255,0,0,0.4);
}
*/
.logo_head, .logo{
    max-width: 40px;
    max-height: 40px;
}
.logo{margin: -10px;}
.navbar{
    position: fixed;
    top:0px;
    left:0px;
    margin-left:0px;
    z-index:100;
    width:100%;
    background: transparent !important;
}
.donate, .social-header {
  position: fixed;
  right:5%;
  top:2%;
  z-index: 200;
}
@media only screen and (min-width:750px) {
  .social-header{right:10% !important;margin-right:-2%;}
}
@media only screen and (max-width:750px) {
  .social-header{right:25% !important;}
  .donate{right:15% !important;}
}
.social-header>a {
  padding: 3px;
}
#header {
  display: none;
}
.partner, .sponsor, footer>p{
  color:#508388;
}
.partner_img{
  width: 5%;
  height: auto;
  margin-bottom:1%;
}
.fa-twitter, .fa-github{
  font-size: 2em;
}
.fa-twitter:hover{
  color: #69b9e0;
}
.fa-github:hover{
  color:white;
}
.footer_left_corner{
  /*position: relative;*/
  float:left;
  padding: 2px;
  margin-bottom: 2px;
}
a{
  cursor: pointer;
}
header{
  padding: 1%;
  z-index: 50;
}
.navbar-scroll {
    display: block !important;
    background-color: rgb(62, 71, 76) !important;
}
.horizontal-div {
  display: inline !important;
}
.bearLang {
  margin: 10%;
  display: none;
}
#menu {
    padding: 0px;
}
#menu li.git-corner{
    padding-right: 5em;
}

#wrapper {
    visibility: hidden;
}
#home{
    margin-top: 5%;
    text-align:center;
}

#resp_msg{
    background: #a3c299;
    position:relative;
    display: none;
    z-index: 400;
}
#devOptions {
  display:block;
}
/* Blinking Cursor for Typed.js */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#coala {
    color:#e4ddc9;
}
#coala-video{
    width:70%;
    border:none;
}
#coala-language {
    color:skyblue;
    font-family: monospace;
}
#editor_language {
    float:right;
}
#home{
    background-color: transparent;
    border: none;
}
.why-content{
    text-align: justify;
    color:white;
    /*position: relative;
    top: 256px;*/
    margin-top: 5%;

}
.why-content-inner{
  position: absolute;
  left:20%;
}
.why-content-inner>p{
  text-align: justify;
  font-family: monospace;
  font-size: 17px;
  /*line-height: 125%;
  word-spacing: 2px;*/
  width:70%;
}
.coala-language-wrap {
    font-size: 27px;
    font-family: monospace;
}
.gitter-chat-embed {
  z-index:500;
}
.gitter-open-chat-button {
    background-color: transparent;
}

.gitter-open-chat-button:hover{
    text-decoration: none !important;
}
#why {
    background-color: #071010;
}
#donate {
    background-color: #b7c1c1;
}
#team {
    background-color: #333638;
    color:white;
    font-size: 16px;
    text-align: center;
}
#support {
  background-color: #71706d;
}
.fa-gratipay{
  color:#f1e384;
  font-size: 2em;
  transition: color 0.5s;
}
.fa-gratipay:hover {
  color: #f18489;
}
.fa-angle-double-down {
  font-size: 2em;
  color: #e6da80;
  cursor: pointer;
  transition: font-size 0.5s;
}
.fa-angle-double-down:hover {
  font-size: 3em;
}
.fa-heartbeat {
  color:pink;
}
footer{
    background: transparent;
    min-height: 250px;
    padding: 3px;
    margin-bottom: 2px;
    text-align: center;
}

/* Editor */
#editor {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding:1%;
    min-height: 500px;
}
#bear-wrap {
    border: solid 0px #43a289;
    border-: 0px;
    border-left-width: 2px;
    background-color: transparent;
    min-height: 500px;
}
.se-pre-con {
    position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:1000;background:url(../img/preloader.gif) center no-repeat rgba(230, 240, 212, 0.94);}
