progress{position:fixed;left:0;bottom:1.4px;z-index:100;width:100%;height:2px;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;backgroundr:transparent;}
progress::-webkit-progress-bar{background:transparent;border-radius:2px;box-shadow:0 2px 5px rgba(0, 0, 0, 0.25) inset;}
progress::-webkit-progress-value{background-image:-webkit-linear-gradient(-45deg,
transparent 33%, rgba(0, 0, 0, .1) 33%,
rgba(0,0, 0, .1) 66%, transparent 66%),
-webkit-linear-gradient(left, skyblue, pink);border-radius:2px;background-size:35px 20px, 100% 100%, 100% 100%;}
progress::-moz-progress-bar{background-image:-moz-linear-gradient(-45deg,
transparent 33%, rgba(0, 0, 0, .1) 33%,
rgba(0,0, 0, .1) 66%, transparent 66%),
-moz-linear-gradient(left, skyblue, pink);border-radius:2px;box-shadow:0 2px 5px rgba(0, 0, 0, 0.25) inset;}
progress::-moz-progress-value{background-image:-moz-linear-gradient(-45deg,
transparent 33%, rgba(0, 0, 0, .1) 33%,
rgba(0,0, 0, .1) 66%, transparent 66%),
-moz-linear-gradient(left, skyblue, pink);border-radius:2px;background-size:35px 20px, 100% 100%, 100% 100%;}
.progress-container{width:100%;background-color:transparent;position:fixed;top:0;left:0;height:.25em;display:block;}
.progress-bar{background-color:transparent;width:50%;display:block;height:inherit;}
